body{
    overflow-x: hidden;
}
.navbar {
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.913) !important ;
    z-index: 1;
}
.section-img-portada{
    position: relative;
    text-align: center;
    width: 100%;
    height:641px ;
    background: url('../assets/153804.jpg');
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ctn-text{
    width: 100%;
    max-width: 593px ;
    padding: 5px;
    color: white;
}
.section-img-portada .ctn-text h3{
 font-size: 48px;
 line-height: 58px;

}
.section-img-portada .ctn-text p{
    font-size: 20px;
    line-height: 28px;
}
.section-img-portada button{
    transition: border linear 0.21s;
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    width: 80px;
    height: 80px;
    right: 20px;
    bottom: 20px;
    border: 2px transparent solid;
    border-radius: 100px;
}


.section-img-portada button:hover {
 border: 2px rgb(121, 121, 241) solid;
}
.ctn-section{
    padding: 10px;
}
.ctn-section .ctn-valores p{
 font-weight: 500;
 font-size: 25px;
 line-height: 38px;
 margin-top: 10px;
}
.ctn-section picture img {
 view-timeline-name:  --reveal;

 animation-name: show;
 animation-fill-mode: both;

 animation-timeline: --reveal ;
 animation-range: entry 25% cover 50%;
}

@keyframes show {
    from {
        opacity: 0; scale: 10%;
    }
    to{
        opacity: 1; scale: 100%;
    }
}
.ctn-section h2{
    animation: revealing;
    animation-timeline: view(block);
    animation-range: cover 0% cover 50%;
    margin: 0px;
}
@keyframes revealing {
    from {
        color: gray;
        margin-left: 100vw;
        filter: blur(50px);
        opacity: 0.5;
    }

    to {
        margin: 40px;
        filter: blur(0px);
        opacity: 1;
    }
}

.ctn-team{
    margin: 110px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.ctn-team .team {
 width: 120px;
 height: 236px;
}
.ctn-team .team img{
    object-position: top;
    object-fit: cover;
    border-radius: 1000px;
    width: 100%;
    height: 130px;
    margin-bottom: 10px;
}
.ctn-team .team p{
    font-size: 19px;
    line-height: 29px;
    font-weight: 500;
}

.btn a:hover{
 text-decoration: none;
 color: white;
}
.btn{
    position: relative;

}
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: gloding 20s linear infinite;
}

@keyframes gloding {
  0%{
    background-position: 0 0;
  } 
  50%{
    background-position: 400% 0;
  }

  100%{
    background-position: 0 0;
  }
}

.check{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.check p{
    font-size: 36px;
    line-height: 43px;
    margin: 0;
}
@media (max-width: 768px) {
    .ctn-team{
        flex-wrap: nowrap;
        mask-image: none;
        -webkit-mask-image: linear-gradient(to right, #0000, #000, #000, #0000);
  
        overflow-x: auto;
        overscroll-behavior-x: contain;
        
        display: flex;
        gap: 20px;
        align-items: start;
        padding: 10px;
        justify-content: start;
    }
    .team{
        block-size: 214px;
        aspect-ratio: 20;
        border-radius: 10px;
        box-shadow: 0 0 15px -8.5px black;
    }
 .ctn-team .team p{
        font-size: 16px;
        padding: 0 5px;
    }
.ctn-team .team img {
    
    border-radius: 0;
        border-top-right-radius: 10px;
        border-start-start-radius: 10px;
    }
}

footer{
    background-color: black;
}

footer .ctn-inf{
    padding: 45px 8px;
    display: flex; 
    flex-wrap: wrap;
    gap: 55px;
    justify-content: center;
   
}
.ctn-inf > div {
    width: 100%;
    max-width: 400px;
     
}
.ctn-inf div h5{
    margin-bottom: 40px;
    font-weight: 600;
    letter-spacing: 3px;
} 
.ctn-inf div p{
    font-weight: 100;
    color: rgba(240, 248, 255, 0.449);
}
.ctn-inf div h6{
    font-weight: 600;
}
.ctn-inf .contacto section  {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer section{
    max-width: 900px;
    margin: 0 auto;
}
footer section hr{
    
    border-top: 2px solid white;
}


footer section p{
    font-weight: 100;
    color: rgba(240, 248, 255, 0.449);
}

.ctn-copi p{
 margin: 0;
 padding-bottom: 1rem;
}