html, body {
  height: 100%;
  margin: 0;
  font-family: "Inter", serif;
}

/*estilos de si el navlink esta activado */
a.Active {
text-decoration:underline;
color: rgba(1, 194, 225, 1);
}
.btn-float {
    position: fixed;
    right: 40px;
    z-index: 1000;
    cursor: pointer;
    background: linear-gradient(90.02deg, rgb(2, 148, 215) -1.34%, rgb(117, 29, 250) 99.98%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
     color: #ffffff; /* Color del ícono */
    width: 56px;
    height: 50px;
    border-radius: 16px;
    padding: 13px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.btn-float:hover {
    transform: scale(1.1);
    
}

.to-top {
    bottom: 1.25rem;
}

.whatsapp {
    top: 10rem;
}

.btn-float i {
    font-size: 1.5rem;
}

.navbar{
  justify-content: space-between;
}

.categoriasProyect{
    width: 100%;
   
}
 .headersearch{
background-color:rgba(36, 4, 85, 1);
    
    position: relative;
    width: 100%;
    gap: 25px;
   flex-wrap: wrap-reverse;
   justify-content: center;
   padding-bottom: .3125rem;
   transition: all 0.3s ease-in-out;
}

.fixed{
  width: 100%;
  max-width: 1158px;
  z-index: 10;
  position: fixed;
  top: 0;
  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.headersearch nav{
    display: flex;
    justify-content: center;
    
    
}

.headersearch nav ol{
 
    margin-bottom: 10;
    gap: 48px;
    background-color: transparent;

}
.headersearch nav ol a{
  display: flex;
  text-align: center;
  color: white;
  font-weight: 600;
}
.navbar .nav-item .nav-link{
  color: white;
  font-weight: 600;
  
  font-size: 24px;
  line-height: 32px;
}

.navbar .nav-item .nav-link:hover{
  color: #3cbeff;
}
/**es un estilo primario del boton*/
.btn-primario{
  background-color: rgba(119, 29, 250, 1);
  color: white;
  padding: 12px 24px;
  gap: 8px;
  border: 0;
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.36px;

}
/* escala el boton*/
.btn-transition-scale {
  transition: transform 0.1s ease-out;
}
.btn-transition-scale:hover{
  transition: transform 0.2s ease-out;
 transform: scale(1.1);
 color: white;
    text-decoration: none;
}

/**esfecto de dirección*/
 
.efecto-direction svg{
  transition: transform 0.1s ease-in-out;
  
}

.efecto-direction:hover svg{
  transition: transform 0.2s ease-in-out;
  transform: translateX(10px);
}
.nav-list-fn:hover{
 text-decoration: none;
 color: blueviolet;
}

.navbarServices{
  width: 100%;
  display: flex;
  
  justify-content: center;
}
.p-header{
  margin-bottom: 0;
}
.ctn-contacto-izquierda{
  display: flex;  
  gap: 38px; 
  max-width: 75%;
}
@media (max-width:645px){
  .p-header{
   display: none;
  }

.ctn-contacto-izquierda{
    gap:24px ;
   
  }
} 
.dropdown-menu li a:hover{
  color: white;
  background-color: blue;
}
.navbar .navMobil{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(36, 4, 85, 1);
  flex-basis: auto;
  width: 210px;
position: absolute;
z-index: 50;
top: 80px;
right: 20px;
 border-radius: 4px;
}

.navbar .navMobil button{
  background-color: transparent;
  padding: 0;
  margin-bottom: 8px;
}
.navbar .navMobil ul .nav-item a{
  font-size: 16px;
  line-height: 28px;
}
.navbar .navMobil ul{
  flex-direction: column;
}

@media (max-width: 1182px) {
  .navbarServices{
    display: none;
  }
  .navbar .navbar-toggler {
    display: block;
  }
  .nav-item  .dropdown-menu{
    position: absolute;
    top: -100%;
   left: -354%;
  }

}
.navbar-toggler:hover{
  box-shadow: none;
}



.headersearch  .active {
  color: rgba(1, 194, 225, 1);
    padding-bottom: 2px;
   text-decoration: underline;
   line-height:32px;
   font-weight: 600;

  }

 h1{
  color: white;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
 } 
h4{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
}

.headersearch .search{
 width: 100%;
 max-width: 300px;
 display: flex;
 align-items: center;
 
 position: relative;
}
.headersearch input{
    padding: 5px 0;
    width: 100%;
    border-radius: 5px;
    padding-left: 23px;

}
.headersearch .search i{
    position: absolute;
    left: 5px;
}

.ctn-cards  .card{
    border: 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: rgba(36, 4, 85, 1);
    color: white;
    padding:24px;
    
    
}
.ctn-cards .card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.ctn-cards .card-body h5{
  color: white;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    font-weight: 600;
}
.ctn-cards .card-body ul li{
  text-align: start;
  font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.ctn-cards .card-body h6{
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
}
.ctn-cards .card-body a{
  border: 1px solid white;
padding:12px 24px ;
    border-radius: 30px;
    margin-top: auto;
    background: linear-gradient(90.02deg, rgba(2, 149, 215, 0.36) -1.34%, rgba(119, 29, 250, 0.36) 99.98%);

}

 .linkmore{
    text-align: end;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
}

.ctn-cards-modo{
    border: 0;
    margin: 0 auto;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px,1fr));
}
.ctn-cards-modo div{
    width: 100%;
}

.ctn-cards-modo h5{
    font-size: 14px;
    font-weight: 700;
}
.ctn-cards-modo p{
    font-size: 14px;
}

/*-------------------- ----------------- ----------------*/
/* Altura del carrusel */
.carousel-inner {
    height: 31.25rem; 
}

/* Aseguramos que las imágenes se ajusten sin deformarse */
.carousel-item img {
    object-fit: cover; /* Cubre el área sin deformar la imagen */
    height: 100%; /* Ajusta la imagen al 100% de la altura del contenedor */
    width: 100%; /* Ajusta la imagen al 100% de la anchura del contenedor */
}

/* Posicionamos el texto dentro del carrusel */
.hero-text {
    position: absolute;
    top: 20%;
    left: 100px;
   
    width: 100%; /* Ajusta el ancho del contenedor */
    max-width: 669px;
    z-index: 1; /* Asegúrate de que el texto esté siempre encima */
    text-align: left;
    color: #fff; /* Texto en blanco para contraste */
    background-color: transparent; /* Fondo semitransparente */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden; /* Oculta el contenido que sobrepasa */
    display: flex;
    flex-direction: column;
    gap:32px ;
}

/* Texto que parece continuar */


.hero-text p {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    
}

/* Botón siempre visible */
.hero-text a {
  width: 196px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-decoration: none;
   
}
.hero-text a:hover {
  color: white;
}


/* Estilo general de la sección */
#categorias {
  
    background-color: #f9f9f9;
    padding: 50px 20px;
    padding-top: 0;
    text-align: center;
  }
  
  /* Título */
  #categorias h4 {

    width: 100%;
    max-width: 828px;
    font-size: 36px;
    line-height: 44px;
    margin: 0 auto;
    color: rgba(26, 30, 41, 0.87);
    font-weight: 600;
   text-align: center;
    animation: fadeInDown 1s ease-out;
  }
  .categoriasProyect  p{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(26, 30, 41, 0.87);
    width: 100%;
    max-width: 782px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  /* Contenedor de tarjetas */
  .ctn-cards {
    margin: 0 auto;
    max-width: 1158px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(337px, 1fr));
    gap: 20px;
    
  }
  
  /* Estilo de tarjetas */
  .card {
    
    margin:10px;
    background: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    position: relative;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  /* Animación de fondo al hover */
  .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #004fb4, #1d1b20);
    z-index: 0;
    transform: scale(0);
    border-radius: 50%;
    transition: transform 0.5s ease;
    opacity: 0.5;
  }
  
  .card:hover::before {
    transform: scale(4);
    opacity: 0.2;
  }
  
  /* Contenido de la tarjeta */
  .card-body {
    position: relative;
    z-index: 1;
    padding: 10px;
  }
  
  .card-title {
  
    margin-bottom: 10px;
    
    animation: fadeInUp 0.8s ease-out;
  }
  
  .card-subtitle {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
  }
  
  ul {
    padding-left: 0px;
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color: #004fb4;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #1d1b20;
    transform: scale(1.1);
    
  }
  .ctn-cards-modo {
    background-color: #f9f9f9;
   
  }
  
 
  
  .ctn-cards-modo svg {
    width: 70px;
    height: 70px;
    fill: none;
    stroke: #000;
    margin: auto;
  }
  
  .ctn-cards-modo h5 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color:rgba(26, 30, 41, 0.87);
    text-align: start;

  }
  
  .ctn-cards-modo p {
    text-align: start;
    color: rgba(26, 30, 41, 0.87);
    font-size: 16px;
    line-height: 24px;
  }
  

  .highlight {
    color: #004FB4;
    font-weight: bold;
  }

  .ctn-cards-modo {
    max-width: 981px;
    margin: 4rem auto;
  }

  .card {
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   
  }

 

  .card-text {
    color: #555;
  }

  .svg-icon {
    max-width: 90%;
    height: auto;
  }
  div.card.mb-4 {
    margin: 20px;
    width: 95%;
     }
  .custom-icon {
        font-size: 50px; 
        padding-inline-start: 50px;
      }
  /* Keyframes para animaciones */
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

.logoGlobalia2{
  display: none;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    .hero-text {
        position: absolute;
        top: 25%;
        left: 0%;
        width: 100%; /* Contenedor más ancho */
        padding: 10px;
    }

    .hero-text h1 {
        font-size: 28px; /* Texto más pequeño */
        line-height: 36px;
    }

    .hero-text p {
        font-size: 24px;
        line-height: 32px;
    }

    .hero-text a {
        display: block; /* Botón siempre visible en su propia línea */
        margin-top: .625rem; /* Espaciado superior */
    }
}
@media (max-width: 575px) {
  .ctn-cards-modo{
    padding: 0;
  }

  .ctn-cards-modo h5{
    font-size: 20px;
    line-height: 28px;
  }

  .ctn-cards-modo p {
    font-size: 16px;
    line-height: 26px;
  }
  
  .logoGlobalia2{
    display: block;
  }
  .logoGlobalia{
    display: none;
  }
   .navbar .navbar-brand p{
    display: none;
   }
    .hero-text a {
        display: block; /* Botón siempre visible en su propia línea */
        margin-top: 10px; /* Espaciado superior */
    }

    .nav-item  .dropdown-menu{
    
      top: 100%;
     left: -84px;
    }

    #navSection > nav > ol{
     
      gap: 11px;
      font-size: 14px;
    }

    .headersearch nav ol li a{
      text-decoration: underline;
      text-decoration-color: transparent;
      line-height: 32px;
    }
}
@media (max-width: 405px) {
 #categorias{
    padding: 50px 5px;
  }
  .ctn-cards-modo  > div{
    flex-direction: column;
  }

  .ctn-cards{
    grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
  }

  .ctn-cards-modo{
    grid-template-columns: repeat(auto-fill, minmax(291px,1fr));
  }

  .preguntas .pregunta-title{
    flex-direction: column-reverse;
  }
}


.headersearch nav ol{
  gap: 40px;
}

/*
estilos de la img de descanso
*/

.img-descanso{
    margin: 100px 0;
    width: 100%;
    height:298px;
    overflow: hidden;
    
}
.img-descanso img{
    object-fit: cover;
    object-position: bottom;
    
}

/*estilos de seccion de preguntas*/
.seccion-preguntas{
    padding: 50px;
}
.seccion-preguntas .preguntas{
    display: flex;
    gap: 100px;
}
@media only screen and (max-width:840px) {
    .seccion-preguntas{
        padding: 10px;
    }
 
    .seccion-preguntas .preguntas {
        flex-direction: column;
    }

  .seccion-preguntas  .preguntas .ctn-preguntas{
        max-width: 100%;
    }
}

.preguntas .ctn-preguntas{
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;
  max-width: 50vw;
    
}
.preguntas .pregunta-title{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.ctn-form-preguntas{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.ctn-form-preguntas h4{
    text-align: center;
}
.ctn-form-preguntas form{
    display: flex;
    flex-direction: column;
    width: 100%;
align-items: center;
}
.ctn-form-preguntas form .ctn-input{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.ctn-form-preguntas form .ctn-input input {
    padding: 8px 20px;
    border: 1px rgba(26, 30, 41, 0.87) solid;
    border-radius: 4px;
    
}
.ctn-form-preguntas form .ctn-input input:focus{
    outline: none ;
}

.ctn-form-preguntas form .ctn-input textarea{
  height: 168px;
}

.tecnologias-manejadas{
    flex-wrap: wrap;
    margin: 50px 0 ;
    margin-top: 100px;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.tecnologias-manejadas h6{
    font-size: x-large;
    font-weight: 700;
}

/* ===================================================================
 * # FOOTER
 *
 *
 * ------------------------------------------------------------------- */
 /* Estilos para el footer */
 .s-footer {
  background-color: rgba(26, 30, 41, 1);
  padding: 50px 0;
  font-family: 'Poppins', sans-serif;
}

.s-footer>.row {
  display: flex;
  justify-content: space-between;
  max-width: 1020px;
  margin: 0 auto;
}

.s-footer__section {
  color: white;
  width:291px ;
}

.s-footer__section h4 {
  margin-top: 0;
  margin-bottom: 20px;
}

.s-footer__social {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  
}

.s-footer__social li {
  margin-right: 1.2rem;
}

.s-footer__social i {
  font-size: 24px; /* Ajusta el tamaño del icono */
  color: white;
  transition: color 0.3s;
}

.s-footer__social i:hover {
  color: #f39c12; /* Cambia el color al pasar el mouse */
}

.s-footer__social span {
  color: white;
}
.s-footer__bottom {
  margin-top: 16px;
  padding-top: 8px;
 
  position: relative;
  color: rgba(253, 249, 249, 0.812);
  text-align: center;
}

/* Responsive Design */
@media screen and (max-width: 800px) {
  .s-footer>.row {
    flex-direction: column;
    align-items: center;
  }

  .s-footer__section {
    width: 100%;
    margin-bottom: 20px;
  }
}
